
<footer>
    <div id="footer1">
        <b>Site desenvolvido por:</b> <br />
        Jean Luca Fantozzi da Silva
    </div>
    <div id="footer2">
        Endereço: São Paulo, Marília | Rua ABC Número 123.<br/>
        Contato: +55 (14) 99000-0000<br/>contato@cabeleleilaleila.com.br
    </div>
    <div id="footer3">
        Este projeto foi desenvolvido em 4 dias para um processo seletivo.<br/>
        Através dele, tive a oportunidade de colocar mais uma vez em prática<br/>
        os meus conhecimentos em programação e desenvolver um sistema até o final<br/>
        seguindo o relato de um cliente fictício.
    </div>
</footer>
</body>
</html>
